*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    color: #FFF;
    background: #ebf2f5;
}

body, input, button, textarea {
    font:600 18px Nunito, sans-serif;
}

.required-star{
    color: rgb(224, 68, 68);
    padding-left: 6px;
}
